h1 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 32px;
	color: white;
	padding: 55px 80px;
	font-weight: 900;
	line-height: 1.4;
}

h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	padding: 5px 80px;
}

body {
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png");
/*	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/cream_pixels.png");
*/}

section {
	position: fixed;
	width: 750px;
  	height: 500px;
	z-index: 15;
  	top: 60%;
  	left: 45%;
  	margin: -300px 0 0 -300px;
}

#ghost{
	position: absolute;
  	width: 400px;
  	height: 400px;
  	background-color: #fcb32d;
  	-webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
	left:0;
	top:0;
}

#ghost:hover {
	background-color: #5672ff;
}