h1 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 32px;
	color: white;
	padding: 55px 80px;
	font-weight: 900;
	line-height: 1.4;
}

h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	padding: 5px 80px;
}

body {
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png");
/*	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/cream_pixels.png");
*/}

/*section {
	position: absolute;
  	width: 400px;
  	height: 400px;
  	z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -200px 0 0 -200px;
  	background: #fcb32d;
  	-webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}*/

div.moving {
	position: fixed;
  	width: 400px;
  	height: 400px;
  	background-color: #fcb32d;
  	-webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -200px 0 0 -200px;
}

section:hover {
	opacity: 0.9;
}