h1 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 36px;
	color: white;
	padding: 0px 30px;
}

h2 {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 24px;
	padding: 5px 30px;
}

section {
	position: absolute;
  	width: 300px;
  	height: 200px;
  	z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -100px 0 0 -150px;
  	background: orange;
}